/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Francois One', sans-serif; */
    /* font-family: 'Lobster', cursive; */
    font-family: 'Anton', sans-serif;
}