<div id="divPrincipal" id="select">
	<br>
	<h2 class="col-sm-12 text-center">Cadastro de veiculos</h2>

	<form (ngSubmit)='cadastro()' [formGroup]='formCadVehicle'>
    	<div class="form-row">
      		<div class="col-6">
        		<label>Selecione o tipo de veiculo </label>
        		<select class="form-control" formControlName='tipo' required="required">
          			<option value="OnibusComum">Onibus Comum</option>
          			<option value="OnibusAcessivel">Onibus com acessibilidade</option>
				</select>
				<control-messages [control]="formCadVehicle.controls.tipo"></control-messages>
      		</div>

      		<div class="col">
        		<label>Selecione a categoria do veiculo</label>
        		<select class="form-control" formControlName='categoria' required="required">
          			<option value="TransportePublico">Transporte publico</option>
				</select>
				<control-messages [control]="formCadVehicle.controls.categoria"></control-messages>
      		</div>
    	</div>

    	<div class="form-row">
			<div class="col-4">
				<label>Numero do rastreador</label>
				<input type="number" name="rastreador" required="required" class="form-control" formControlName='numeroRastreador' placeholder="Digite o numero do rastreador do veiculo">
				<control-messages [control]="formCadVehicle.controls.numeroRastreador"></control-messages>
			</div>

	    	<div class="col-4">
        		<label>Marca</label>
				<input type="text" name="marca" required="required" class="form-control" formControlName='marca' placeholder="Digite a marca do veiculo">
				<control-messages [control]="formCadVehicle.controls.marca"></control-messages>
      		</div>

      		<div class="col">
        		<label>Modelo</label>
				<input type="text" name="modelo" required="required" class="form-control" formControlName='modeloVeiculo' placeholder="Digite o modelo do veiculo">
				<control-messages [control]="formCadVehicle.controls.modeloVeiculo"></control-messages>
	  		</div>
		</div>


		
		<div class="form-row">
			<div class="col-4">
				<label>Numero da placa</label>
				<input type="edigtext" name="placa" required="required" class="form-control" formControlName='numeroPlaca' placeholder="Digite o numero da placa do veiculo">
				<control-messages [control]="formCadVehicle.controls.numeroPlaca"></control-messages>
			</div>
			
			<div class="col-4">
				<label>Numero da frota</label>
				<input type="number" name="frota" required="required" class="form-control" formControlName='numeroFrota' placeholder="Digite o numero da frota do veiculo">
				<control-messages [control]="formCadVehicle.controls.numeroFrota"></control-messages>
			</div>

			<div class="col">
				<label>Status</label>
				<select class="form-control" name="ativo" formControlName='status' required="required">
					<option [value]="Ativo" >Ativo</option>
					<option [value]="Inativo" >Inativo</option>
				</select>
				<control-messages [control]="formCadVehicle.controls.status"></control-messages>
			</div>
		</div>
		
		<br>
		<div class="form-row">
			<div class="col-4"></div>
			<div class="col-4 text-center">
				<button type="submit" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!formCadVehicle.valid">Cadastrar</button>
			</div>
			<div class="col-4"></div>
		</div>
  	</form>
</div>
