<!-- https://getbootstrap.com/docs/4.1/components/collapse/#accordion-example -->
<!-- https://www.npmjs.com/package/ngx-pagination para colocar paginação e filtro -->
<div id="divPrincipal">
    <div id="divCabecalho">
        <br>
        <h3>{{ namePage }}</h3>

        <form class="form-center my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" [(ngModel)]="terms" name="searchbar" placeholder="Numero do Rastreador"
                aria-label="Search">
            <br>
            <div class="form-row justify-content-center">
                <div class="col-form-label"></div>
            </div>
            <br>
        </form>
    </div>

    <div class="accordion" id="accordion">
        <div class="card" *ngFor="let bus of data | search : terms | sort : { property: column, order: order };let i = index">
            <div class="card-header" id="heading{{i}}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" attr.data-target="#collapse{{i}}"
                        aria-expanded="false" attr.aria-controls="collapse{{i}}">
                        {{ bus.marca }} - {{ bus.modeloVeiculo }} - ({{ bus.numeroPlaca }})
                    </button>
                </h5>
            </div>
            <div id="collapse{{i}}" class="collapse" attr.aria-labelledby="heading{{i}}" data-parent="#accordion">
                <div class="card-body">
                    <b>Rastreador: </b> {{ bus.numeroRastreador }}<br>
                    <b>Tipo: </b> {{ bus.tipo }}<br>
                    <b>Categoria: </b> {{ bus.categoria }}<br>
                    <b>Marca: </b> {{ bus.marca }}<br>
                    <b>Modelo: </b> {{ bus.modeloVeiculo }}<br>
                    <b>Placa: </b> {{ bus.numeroPlaca }}<br>
                    <b>Frota: </b> {{ bus.numeroFrota }}<br>
                    <b>Status: </b> {{ bus.status }}<br>
                    <div id="divButton" class="mb-0">
                        <a type="button" routerLink="/mapa/{{ bus.numeroRastreador }}" class="btn btn-primary">Localizar</a>
                        <button type="button" class="btn btn-danger" (click)="Deletar(bus.numeroRastreador)">Deletar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>