#divPrincipal{
    width: 100%;
    height: 100%;
    background-color: rgb(244, 245, 247);
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
}

#divCabecalho{
    text-align: center;
    top:1rem;
}

.form input, .accordion{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#divButton{
    text-align: end;
}
