<!--The content below is only a placeholder and can be replaced.-->
<nav *ngIf="mostrarMenu" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="/dashboard">
        <img src="../assets/icons/logo1.jpeg" id="imgIcon" alt="Icone Logo" class="d-inline-block align-top">
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/cad-user">Cadastro Usuário</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/cad-vehicle">Cadastro Veículo</a>
        </li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>