<div id="divPrincipal" id="select">
  <br>
  <h2 class="clo-sm-12 text-center">Cadastro de usuário</h2>

  <form (ngSubmit)='cadastro()' [formGroup]='formCadUser'>
    <div class="form-row">  
      <div class="col-6">
        <label for="exampleInputName1">Nome</label>
        <input type="text" required="required" class="form-control" id="exampleInputName1" aria-describedby="nameHelp" placeholder="Inserir seu nome completo" formControlName='nome'>
        <control-messages [control]="formCadUser.controls.nome"></control-messages>
      </div>

      <div class="col"> 
        <label for="exampleInputUsername1">CPF</label>
        <input type="text" required="required" class="form-control" id="exampleInputUsername1" aria-describedby="social_security_numberHelp" placeholder="Inserir numero do CPF" formControlName='cpf'>
        <control-messages [control]="formCadUser.controls.cpf"></control-messages>
      </div>  
      
      <div class="col"> 
        <label for="exampleInputUsername">Tipo de Usuário</label>
          <select class="form-control" id="FormControlSelect" required="required" formControlName='tipoUser' selected="Comum">
            <option></option>
            <option>Admin</option>
            <option>Comum</option>
          </select>
          <control-messages [control]="formCadUser.controls.tipoUser"></control-messages>
      </div>
    </div>    
    
    <div class="form-group">          
      <label for="exampleInputEmail">Endereço de email</label>
      <input type="email" required="required" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Inserir seu email" formControlName='email'>
      <control-messages [control]="formCadUser.controls.email"></control-messages>      
      <small id="emailHelp" class="form-text text-muted">Nós nunca vamos compartilhar seus dados com mais ninguém.</small>  
    </div>
    
    <div class="form-group">  
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" required="required" class="form-control" id="exampleInputPassword1" placeholder="Inserir senha" formControlName='senha'>  
      <control-messages [control]="formCadUser.controls.senha"></control-messages>
    </div>
    
    <div class="form-group">  
      <label for="exampleInputPassword2">Confirmar senha</label>
      <input type="password" required="required" class="form-control" id="exampleInputPassword2" placeholder="Reinserir senha" formControlName='senhaConfirm'>  
      <control-messages [control]="formCadUser.controls.senhaConfirm"></control-messages>
    </div>

    <br>
    <div class="form-row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!formCadUser.valid">Cadastrar</button>
      </div>
      <div class="col-4"></div>
    </div>
  </form>
</div>
