<div id="divPrincipal">
    
    <div class="card" id="cardPrincipal">
        <div id="divIcon">
            <img class="card-img-top" src="..//assets/icons/logo.jpeg" alt="Logo" id="IconPrincipal">
        </div>
        <h5 class="card-title">Entrar</h5>
        <div class="card-body">
            <form action="get">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Login</span>
                    </div>
                    <input [(ngModel)]="usuario.nome" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Username" aria-label="Username" autocomplete="name" aria-describedby="basic-addon1" id="username">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Senha</span>
                    </div>
                    <input [(ngModel)]="usuario.senha" [ngModelOptions]="{standalone: true}" type="password" class="form-control" placeholder="Password" autocomplete="current-password">
                </div>
                <div id="divButton">
                    <button type="submit" class="btn btn-primary" (click)='fazerLogin()'>Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
