#divPrincipal{
    width: 100%;
    height: 100%;
    background-image: url('/assets/background/fundo1.jpeg');
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#divIcon{
    width: 30rem;
    text-align: center;
}

#IconPrincipal{
    border-radius: 50%;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    width: 7.5rem;
    height: 7.5rem;
}

#cardPrincipal{
    top:1rem;
    width: 30rem;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -15rem;
}

#divButton{
    width: 28rem;
    text-align: end;
}

#divButton a{
    margin-right: 1rem;
    color: #383838;
}

#divButton a:hover,#divButton a:visited{
    margin-right: 1rem;
    color: #2787B8;
}


#cardSecundario{
    width: 30rem;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -15rem;
    margin-top: 3rem
}

.btnIcon{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    float: left;
}
